html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dg.a {
  display: fixed;
  margin-right: 0 !important;
  /* float: unset !important; */
}

.dg ul {
  height: 54px !important;
}

.dg .close-button {
  display: none !important;
}

.dg .cr.number {
  border-left: 3px solid #00e0c4 !important;
}

.dg .c .slider-fg {
  background: #00e0c4 !important;
}

.dg .cr.number input[type='text'] {
  color: #00e0c4 !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
